{% extends 'layout.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Status</th>
                <th>Duration_task</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.startDate ? task.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.endDate ? task.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.durationTask }}</td>
                <td>
                    <a href="{{ path('app_task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('app_task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_task_new') }}">Create new</a>
{% endblock %}
